#workspaces button {
  font-size: 16px;      /* Increase text size */
  padding: 6px 5px;    /* Bigger clickable area */
  margin: 4px;
  border-radius: 3px;
  color: #555555;
}

#workspaces button.active {
  font-size: 16px;      /* Active workspace slightly bigger */
  background: #ba03fc;
  color: #e1e1e1;
}

#workspaces {
  margin: 0 3px;
}
#waybar .module {
    border-left: 1px solid #c792ea;
    border-right: 1px solid #c792ea;
    border-top: 1px solid #00a4aa;
    margin: 4px;
    padding: 6px 10px;
    border-radius: 6px;
}

